* { box-sizing: border-box; }

.bottom_bg {
  height:100%;
  width:100%;
  min-height:500px;
  margin:0 0 10px;
  background-image: url("https://assets.about.me/background/users/a/n/t/antonioserna_1411265393_7.jpg");
  background-position: 50% 70%;
}

.header {
  width: 200px;
  height: 200px;
  position: fixed;
  display: inline-block;
  background-color: black;
  color: white;
  margin: 0 70%;
  text-align: center;
  opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}

.container {
  width: 80%;
  margin: 0 auto;
  color: #000;
}

.image {
  display: inline-block;
  float: left;
}

.column { display: inline-block; }

.main-text {
  clear: both;
  padding-top: 60px;
}

.skills.column {
  width: 250px;
  height: 250px;
  position: relative;
  display: inline-block;
  color: #FFF;
  background-color: #5AD4C2;
  margin-left: 5%;
  margin-top: 40px;
}

.skills.column h1 {
  margin-left: 20px;
}

.title_inf {
  text-align: right;
  display: inline-block;
  position: relative;
  margin-left: 3%;
}

.description {
  height: 70%;
  width: 70%;
  margin-left: 5%;
}

.projects {
  height: 70%;
  width: 70%;
}

/*Typography*/

* { font-family: Futura, Helvetica, Arial, sans-serif; }

.intro p {
  font-size: 2em;
  font-style: italic;
}

#skill-list {
  margin-left: 50px;
}

body {
  background-color: #fffeea;
  color: #34495e;
}

.container.contact {
  width: 75%;
  height:75%;
  background-image: url("https://c5.staticflickr.com/6/5192/5899011068_67d4ae4dcf_b.jpg");
  background-position: 50% 50%;
  margin: 3% auto;
  min-height:600px;
}

.contact-square {
  width: 400px;
  height: 250px;
  margin-left: 35%;
}

#name { text-transform: capitalize; }

body.contact {
  background-color: #e9e8e5;
}

.cont {
  text-align: center;
}


.jumbotron {
  background-image: url("https://assets.about.me/background/users/a/n/t/antonioserna_1411265393_7.jpg");
  background-position: 50% 5%;
}

.jumbotron p {
  color:#330000;
}

[href="contact.html"] { color: #000; }