.jumbotron {
  background-image: url("https://assets.about.me/background/users/a/n/t/antonioserna_1411265393_7.jpg");
  background-position: 50% 5%;
}

.jumbotron p {
  color:#330000;
}

.bottom_bg {
  height:100%;
  width:100%;
  min-height:300px;
  margin:0 0 10px;
  background-image: url("https://assets.about.me/background/users/a/n/t/antonioserna_1411265393_7.jpg");
  background-position: 50% 70%;
}
