* { box-sizing: border-box; }

.bottom_bg {
  height:100%;
  width:100%;
/*  min-height:500px;*/
  margin:0 0 10px;
  background-image: url("https://assets.about.me/background/users/a/n/t/antonioserna_1411265393_7.jpg");
  background-position: 50% 70%;
  background-color: black;
}

.header {
  width: 200px;
  height: 200px;
  position: absolute;
  display: inline-block;
  background-color: black;
  color: white;
  margin: 115px 40%;
  text-align: center;
  opacity: 0.2;
    filter: alpha(opacity=20); /* For IE8 and earlier */
}

.container {
  width: 90%;
  margin: 0 auto;
  color: #000;
}

.image {
  display: inline-block;
  float: left;
}

.column { display: inline-block; }

#about-me {
  clear: both;
  padding-top: 50px;
  padding-bottom: 30%;
}

/*Typography*/

* { font-family: Futura, Helvetica, Arial, sans-serif; }

.intro p {
  font-size: 2em;
  font-style: italic;
}

.cont {
  margin-left: 35%;
}

.cont a:hover {
  color: #FF8C00;
  font-variant: bold;
  text-decoration: none;
  transition: color 600ms;
  -webkit-transition: color 600ms;
}


.jumbotron {
  background-image: url("https://assets.about.me/background/users/a/n/t/antonioserna_1411265393_7.jpg");
  background-position: 50% 5%;
}

.jumbotron p {
  color:#330000;
}

[href="contact.html"] { color: #000; }

.nav {
  background-color: black;
  position: fixed;
/*  display: block;*/
  opacity: 0.8;
  filter: alpha(opacity=80); /* For IE8 and earlier */
  z-index: 1;
}

.nav ul li {
  background-color: black;
}

.nav ul li a {
  text-transform: uppercase;
  letter-spacing:  0.5em;
  color: white;
}

.nav ul {
  display: inline-block;
  float: right;
}

.nav [href="#home"]
/*"/" to make work index css on bitballoon*/
 {
  text-transform: uppercase;
  letter-spacing:  0.5em;
  color: white;
  top: 0;
}


.nav a:hover {
  color: #0EBFE9;
  text-decoration: none;
  font-variant: bold;
  transition: color 600ms;
  -webkit-transition: color 600ms;
}

/**** About page ****/

#skill-list {
  margin-left: 50px;
}


.skills.column {
  width: 250px;
  height: 250px;
  display: inline-block;
  color: #FFF;
  background-color: #5AD4C2;
  margin-left: 5%;
  margin-top: 50px;
}

.skills.column h1 {
  margin-left: 20px;
}

.title_inf {
  text-align: right;
  display: inline-block;
  position: relative;
  margin-left: 3%;
}

.description {
  height: 70%;
  width: 90%;
  margin-left: 8%;
  padding: 0 20%;
}

.projects {
  height: 70%;
  width: 70%;
}


.about_bg {
  background-attachment: fixed;
  height:100%;
  width:100%;
  min-height:425px;
  margin:0 0 10px;
  background-image: url("https://c2.staticflickr.com/8/7306/27800115020_16df094701_o.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: #FAF0E6;
  display: inline-block;
}

.about { background-color: black; }

.container.about {
  background-color: white;
}

/**** Contact page ****/

#name { text-transform: capitalize; }

.contact a:hover {
  color: black;
  text-decoration: none;
  font-variant: bold;
  transition: color 600ms;
  -webkit-transition: color 600ms;
 }

.contact-square {
  width: 400px;
  height: 250px;
  margin-left: 35%;
}

.all-content.contact {
  background-attachment: fixed;
  padding-top: 70px;
  padding-bottom: 30%;
  margin-top: 0px;
  width: 100%;
  height:100%;
  background-color: #e9e8e5;
  background-image: url("https://c2.staticflickr.com/6/5192/5899011068_65171b330b_o.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

/**** FAQ page ****/

.container.faq {
  width: 80%;
}


/**** index page ****/
body {
  position: relative;
  background-color: #fffeea;
  color: #34495e;
}

.sections {
  padding-top: 50px;
  padding-bottom: 20%
}

.container.index {
  width: 100%;
  margin: 0 auto;
  color: #000;
  display: block;
  position: absolute;
  margin-top: 200px;
  background-color: white;
  z-index: 1;
  opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.container.title {
  width: 100%;
  margin: 0 auto;
  color: #000;
  display: block;
  position: absolute;
  text-align: center;
  margin-top: 70px;
  z-index: 1;
}

#working_on_it {
  padding-top: 75px;
}

.projectName {
    text-transform: uppercase;
}

.projectName a {
    color: white;
}

.navbar-toggle {
  float: left;
  margin-left: 5px;
  }

.navbar-nav {
  margin: 0 0 0 -15px;
}

/*****Media*****/

@media (max-width: 990px) {
  .all-content {
  padding-top: 50px;
  }

  .container.contact {
    margin: auto auto auto;
  }

  #mosaik1,
  #mosaik2,
  #blog1 {
    height: 90%;
    width: 90%;
  }
  .about_bg {
  background-repeat: no-repeat;
  }

  .container.title h1 {
    margin: 0 auto;
    font-size: 25px;
  }

  .container.index {
  position: relative;
  display: block;
  }

  .all-content.contact {
    padding-top: 0px;
    padding-bottom: 100%;
  }

  .contact-square {
    background-color: white;
    padding-left: 20px;
    z-index: 1;
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
  }

  .contact-square h1{
    font-size: 20px;

  }
  #name h3{
    font-size: 15px;
  }
  .navbar-nav { margin
}